@font-face {
    -fx-font-family: 'Montserrat';
    src: url("/font/Montserrat/Montserrat-Medium.ttf");
}

.root{
    -fx-spacing : 50;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-min-height: 300px;
    -fx-min-width: 300px;
    -fx-background-color: linear-gradient(to bottom right, #e09eaa, darkgrey);
}

.greeting{
    -fx-font-size: 20pt;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: white;
    -fx-padding: 50px 20px 20px 20px;
}

.wide-blue-text{
    -fx-background-color: rgba(59,130,240,0.6);
    -fx-accent: rgba(96,165,250,0.6);
    -fx-border-radius: 0;
    -fx-border-color: rgba(147,197,253,1);
    -fx-alignment: center;
    -fx-padding: 1px 0 1px 0;
    -fx-min-width: 350px;
    -fx-text-fill: white;
    -fx-font-family: 'Montserrat';

}