.root{
    -fx-spacing : 50;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-min-height: 300px;
    -fx-min-width: 300px;
    -fx-background-color: linear-gradient(to bottom right, #e09eaa, darkgrey);
}

.greeting{
    -fx-font-size: 20pt;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: black;
    -fx-padding: 50px 20px 20px 20px;
}