
/*root is a VBOX*/
.root{
    -fx-spacing : 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-min-height: 300px;
    -fx-min-width: 300px;
    -fx-background-color: linear-gradient(to bottom right, #e09eaa, darkgrey);
}

/* live */
.hearts{
    -fx-padding: 10,10,10,10;
    -fx-alignment: center;
}

/*the whole puzzle, including hint and number_box*/
.puzzle{
    -fx-alignment: center;
}

.number_box{
    -fx-background-color: #176285;
    -fx-border-color: #a3b8c2;
    -fx-border-width: 1px;
    -fx-min-width: 31px;
    -fx-min-height: 31px;
    -fx-max-width: 31px;
    -fx-max-height: 31px;
    -fx-alignment: TOP_RIGHT;
}

.box{
    -fx-background-color: #effaff;
    -fx-border-color: #a3b8c2;
    -fx-border-width: 1px;
    -fx-min-width: 31px;
    -fx-min-height: 31px;
    -fx-max-width: 31px;
    -fx-max-height: 31px;


}

.choices{
    -fx-padding: 10;
    -fx-alignment: center;
}

.choiceX{
    -fx-background-radius: 50%;
}

.choiceGetHint{
    -fx-background-radius: 50%;
}

.choiceColor{
    -fx-background-radius: 50%;
    -fx-background-color: black;
}

.button-group{
    -fx-spacing : 10;
    -fx-padding: 10;
}

