.root{
    -fx-spacing : 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-min-height: 300px;
    -fx-background-color: linear-gradient(to bottom right, #e09eaa, darkgrey);
}

.hearts{
    -fx-padding: 10,10,10,10;
    -fx-alignment: center;
}

/*.heart-shape {*/

/*    -fx-background-color: red;*/
/*    -fx-shape: "M 10 30 A 20 20 0 0 1 50 30 A 20 20 0 0 1 90 70 L 50 110 L 10 70 A 20 20 0 0 1 10 30 Z";*/
/*    -fx-scale-x: 0.8;*/
/*    -fx-scale-y: 0.8;*/
/*}*/


.puzzle{
    -fx-alignment: center;
}

.number_box{
    -fx-background-color: #176285;
    -fx-border-color: #a3b8c2;
    -fx-border-width: 1px;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    /*-fx-padding: 10px; !**Notwork*!*/
    /*-fx-stroke: black;*/
    -fx-alignment: TOP_RIGHT;
}

.box{
    -fx-background-color: #effaff;
    -fx-border-color: #a3b8c2;
    -fx-border-width: 1px;
    -fx-min-width: 31px;
    -fx-min-height: 31px;
    -fx-max-width: 31px;
    -fx-max-height: 31px;


}

.choices{
    -fx-padding: 10;
    -fx-alignment: center;
}

.choiceX{
    -fx-background-radius: 50%;
}

.choiceGetHint{
    -fx-background-radius: 50%;
}

.choiceColor{
    -fx-background-radius: 50%;
    -fx-background-color: black;
}

.button-group{
    -fx-spacing : 10;
    -fx-padding: 10;
}

