@font-face {
    -fx-font-family: 'Montserrat';
    src: url("/font/Montserrat/Montserrat-Medium.ttf");
}

/* greeting in main menu */
.greeting{
    -fx-font-size: 20pt;
    -fx-font-family: 'Montserrat';
    -fx-text-fill: white;
    -fx-padding: 50px 20px 20px 20px;
}

/* options in main menu */
.wide-blue-text{
    -fx-background-color: rgba(59,130,240,0.6);
    -fx-accent: rgba(96,165,250,0.6);
    -fx-border-radius: 0;
    -fx-border-color: rgba(147,197,253,1);
    -fx-alignment: center;
    -fx-padding: 1px 0 1px 0;
    -fx-min-width: 350px;
    -fx-text-fill: white;
    -fx-font-family: 'Montserrat';

}

/*root is a VBOX*/
.root{
    -fx-spacing : 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-min-height: 300px;
    -fx-min-width: 300px;
    -fx-background-color: linear-gradient(to bottom right, #e09eaa, darkgrey);
}

/* live */
.hearts{
    -fx-padding: 10,10,10,10;
    -fx-alignment: center;
}

/*the whole puzzle, including hint and number_box*/
.puzzle{
    -fx-alignment: center;
}

.number_box_left{
    -fx-background-color: #176285;
    -fx-border-color: #a3b8c2;
    -fx-border-width: 1px;
    -fx-min-width: 31px;
    -fx-min-height: 31px;
    -fx-max-width: 31px;
    -fx-max-height: 31px;
    -fx-alignment: TOP_RIGHT;
    -fx-font-family: 'Montserrat';
}

.number_box_top{
    -fx-background-color: #176285;
    -fx-border-color: #a3b8c2;
    -fx-border-width: 1px;
    -fx-min-width: 31px;
    -fx-min-height: 31px;
    -fx-max-width: 31px;
    -fx-max-height: 31px;
    -fx-alignment: BOTTOM_RIGHT;
    -fx-font-family: 'Montserrat';
}

.box{
    -fx-background-color: #effaff;
    -fx-border-color: #a3b8c2;
    -fx-border-width: 1px;
    -fx-min-width: 31px;
    -fx-min-height: 31px;
    -fx-max-width: 31px;
    -fx-max-height: 31px;


}

.choices{
    -fx-padding: 10;
    -fx-alignment: center;
}

.choiceX{
    -fx-background-radius: 50%;
}

.choiceGetHint{
    -fx-background-radius: 50%;
}

.choiceColor{
    -fx-background-radius: 50%;
    -fx-background-color: black;
}

.button-group{
    -fx-spacing : 10;
    -fx-padding: 10;
}

/* button in round chosen scene*/
.round_chosen_btn{
    -fx-background-color: grey;
    -fx-pref-width: 80;
    -fx-pref-height: 40;
    -fx-font-family: 'Montserrat';

}

.white-text{
    -fx-font-family: 'Montserrat';
    -fx-text-fill: white;
}

