.root{
    -fx-padding: 10;
    -fx-align-items: center;
}

.hearts{
    -fx-padding: 10,10,10,10;
    -fx-alignment: center;
}
.heart-shape {
    -fx-background-color: red;
    -fx-shape: "M 10 30 A 20 20 0 0 1 50 30 A 20 20 0 0 1 90 70 L 50 110 L 10 70 A 20 20 0 0 1 10 30 Z";
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}



.puzzle{
    -fx-alignment: center;
    -fx-column-constrains: 100px 1fr;
}

.number_box{
    -fx-padding: 10px; /**Notwork*/
    -fx-stroke: black;
    -fx-alignment: TOP_RIGHT;
}

.box{
    -fx-min-height: 20px;
    -fx-min-width: 20px;
}

.choices{
    -fx-padding: 10;
    -fx-alignment: center;
}

.choiceX{
    -fx-background-radius: 50%;
}

.choiceColor{
    -fx-background-radius: 50%;
    -fx-background-color: black;
}

